<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Purchase-BalanceCheck</title>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
    </script>
</head>
<body class="main-contents">
    <%- include('partials/nav'); %>
    <main class="main-content">
        <% if (buyrecordResults && buyrecordResults.length) { %>
        <h1>Purchase - Balance Check - Invoice No. <%= invoiceNumber %></h1>
        <form action="/searchs" method="get" class="d-flex mt-4">
            <input type="search" name="invoice_number" style="width: 250px;" class="form-control me-2" placeholder="Enter Invoice Number" aria-label="Search">
            <button type="submit" class="btn btn-primary">Search</button>
          </form><br>
        <div style="display: flex;">
            <h3><span style="font-weight: bold;">Name:</span> <%= buyrecordResults[0].Name %></h3>
            <h3 style="padding-left: 50px;"><span style="font-weight: bold;">Total Amount:</span> RM <%= totalAmount %></h3>
            <h3 style="padding-left: 50px;"><span style="font-weight: bold;">Remarks:</span> <%= buyrecordResults[0].Remarks %></h3>
        </div>
        <div class="mt-5">
        <h2>Transactions</h2>
        <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>From Which Bank</th>
            <th>Remarks</th>
            <th>Amount</th>
        </tr>
        <% for (let i = 0; i < transactions.length; i++) { %>
        <tr>
            <td><%= transactions[i].Date.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
            <td><%= transactions[i].Bank %></td>
            <td><%= transactions[i].Remarks %></td>
            <td><%= transactions[i].Amount %></td>
        </tr>
        <% } %>
        </table>
        
        <h4><span style="font-weight: bold;">Total Paid:</span> RM <%= totalpaid %></h4><br>
        <% if (balance < 0) { %>
            <h2><p>Amount overpaid: RM <%= Math.abs(balance) %></p></h2>
        <% } else { %>
            <h2><p>Balance left: RM <%= balance %></p></h2>
        <% } %>
        <% } else if (buyrecordResults === null) { %>
            <h1>Purchase - Balance Check - Invoice No. <%= invoiceNumber %></h1>
            <p>No invoice found for Invoice Number <%= invoiceNumber %>.</p>
        <% } %>
    </div>
    <a href="/buy-balancecheck">Back to Sales Balance Check</a>
    </main>
</body>
</html>