<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Procurement Sales - Balance Check</title>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</head>
<body class="main-contents">
    <%- include('partials/nav'); %>
    <main class="main-content">
        <% if (sellrecordResults && sellrecordResults.length > 0) { %>
            <h1>Sales - Balance Check - Invoice No. <%= invoiceNumber %></h1>
            <form action="/procurementSalespayment_search" method="get" class="d-flex mt-4">
                <input type="search" name="invoice_number" style="width: 250px;" class="form-control me-2" placeholder="Enter Invoice Number" aria-label="Search">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br>
            <div style="display: flex;">
                <h3><span style="font-weight: bold;">Name:</span> <%= sellrecordResults[0].sellto %></h3>
                <h3 style="padding-left: 50px;"><span style="font-weight: bold;">Total Amount:</span> RM <%= totalAmount %></h3>
                <h3 style="padding-left: 50px;"><span style="font-weight: bold;">Remarks:</span> <%= sellrecordResults[0].salesremarks %></h3>
            </div>
            <div class="mt-5">
                <h2>Transactions</h2>
                <table class="table table-striped" style="width: 90%;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Remarks</th>
                            <th>Bank Refs</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% paymentBreakdownData.forEach(function(payment) { %>
                            <tr>
                                <td><%= payment.formattedDate %></td>
                                <td><%= payment.remarks %></td>
                                <td><%= payment.bankrefs %></td>
                                <td><%= payment.amount %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <h4><span style="font-weight: bold;">Total Paid:</span> RM <%= totalPaid %></h4><br>
            <% if (balance < 0) { %>
                <h2><p>Amount overpaid: RM <%= Math.abs(balance) %></p></h2>
            <% } else { %>
                <h2><p>Need to pay: RM <%= balance.toFixed(2) %></p></h2>
            <% } %>
            <% } else if (sellrecordResults === null) { %>
                <h1>Purchase - Balance Check - Invoice No. <%= invoiceNumber %></h1>
                <p>No invoice found for Invoice Number <%= invoiceNumber %>.</p>
            <% } %>
        <a href="/procurementsales-payment">Back to Payment Breakdown Page</a>
    </main>
</body>
</html>
