<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Yong&Yi-PurchaseOrder Generator</title>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
    </script>
</head>
<body class="main-contents" style="background-color: black;">
    <%
const timestamp = buyRecordResults[0].timestamp;
const newTimestamp = new Date(timestamp);
newTimestamp.setDate(newTimestamp.getDate() + 30);
const day = newTimestamp.getDate().toString().padStart(2, '0');
const month = (newTimestamp.getMonth() + 1).toString().padStart(2, '0');
const year = newTimestamp.getFullYear().toString().slice(-2);
const formattedNewTimestamp = `${day}/${month}/${year}`;
%>
    <%- include('partials/nav');%>
    <main class="main-content" style="display: flex;">
      <div id="printable-content" style="width:22.5cm ;height: 35.7cm;background-color: white;padding: 1.016cm;">
        <p id="header" style="font-family: Arial;font-weight: bold;margin: 0%;margin-bottom: 5px;font-size: 2em;text-align: center;background-color:rgb(220, 220, 220)">YONG &amp; YI PARTNERS ENTERPRISE</p>
              <p style="margin:0%;font-family: Arial;text-align: center;font-size: 15px;"><a style="font-weight: bold;">202203263613 (CA0355099-M)</a>
                <br>11A,LORONG TEKUKUR INDAH 4,
                <br>TAMAN TEKUKUR INDAH
                <br>14300 NIBONG TEBAL, PULAU PINANG, MALAYSIA
                <br>TEL:+60 17-4593823
                <br>EMAIL: SYENYIK10@GMAIL.COM</p>
              <p id="invoice"style="font-family: Arial;font-weight: bold;margin-top:5px;margin-bottom:20px;color:darkblue;font-size: 3em; text-align: center;background-color: rgb(224, 250, 255);">Purchase Order</p>
        <% if (buyRecordResults && buyRecordResults.length) { %>
        <div style="float: right;">
          <table id="myTable" style="display: inline-block; margin-bottom: 15px;font-family: Arial, Helvetica, sans-serif;">
            <thead style="text-align: center;">
              <tr>
                <th style="width: 140px;border: 1px solid black;padding: 2px;">P.O. number</th>
                <th colspan="2" style="width: 180px;border: 1px solid black;padding: 2px;">Date</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <td style="border: 1px solid black;padding: 2px;"><%= invoiceNumber %></td>
                <td style="border: 1px solid black;padding: 2px;"><%= buyRecordResults[0].timestamp ? (() => {
                    const timestamp = buyRecordResults[0].timestamp;
                    const date = new Date(timestamp);
                    const day = date.getDate().toString().padStart(2, '0');
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const year = date.getFullYear().toString().slice(-2);
                    const formattedDate = `${day}/${month}/${year}`;
                    return formattedDate;
                })() : '' %></td>
              </tr>
            </tbody>
          </table><br>
        </div>
        <div style="padding-top: 70px;">
        <div style="width: 100%; border-bottom: 1px solid rgb(0, 0, 0);"></div>
            <div style="font-family: Arial, Helvetica, sans-serif;padding-top: 15px;">
                <div style="display: inline-block;font-family: Arial, Helvetica, sans-serif;">
                    <div style="font-weight: 1000;">Vendor</div>
                    <div style="font-weight:600;"><%= buyRecordResults[0].Name %></div><br>
                </div>
                <div style="float: right;">
                    <div style="margin-bottom: 0%;"><div style="font-weight: 1000;">Ship to</div>
                    <div style="font-weight:600;">Khaw Syen Yong</div></div>
                    <div>ZTO Express Nibong Tebal<br>
                    3728, Jalan Ooi Kar Seng,<br>
                    Taman Sri Maju<br>
                    14300 N.T. Pulau Pinang, Malaysia<br>
                    syenyik10@gmail.com</div>
                </div>
                <div style="padding-top: 15px;float:right;width: 100%; border-bottom: 1px solid rgb(0, 0, 0);"></div>
            </div>
          <div style="font-family: Arial, Helvetica, sans-serif;padding-top: 100px;">
            <table>
              <thead>
                <tr>
                  <th id="h1" style="width: 60px;color:darkblue">No #</th>
                  <th style="width: 360px;text-align: center;color:darkblue">Description</th>
                  <th style="width: 80px;text-align: center;color:darkblue">Qty</th>
                  <th style="width: 140px;text-align: center;color:darkblue">Unit Price</th>
                  <th style="width: 140px;text-align: center;color:darkblue">Total Price</th>
                </tr>
              </thead>
              <tbody>
                <% let counter = 1; %>
                <% for (let i = 0; i < itemsBuyResults.length; i++) { %>
                <tr>
                <td style="font-weight: bold;padding-left: 10px;"><%= counter %>.</td>
                <td><%= itemsBuyResults[i].Content_SKU %></td>
                <td style="text-align: center;"><%= itemsBuyResults[i].Quantity %></td>
                <td style="text-align: center;">RM <%= itemsBuyResults[i].UnitPrice %></td>
                <td style="text-align: center;">RM <%= itemsBuyResults[i].Amount %></td>
                </tr>
                <% counter++ %>
                <% } %>
              </tbody>
            </table>
          </div>
          <br>
          <div style="padding-top: 100px;width: 100%; border-bottom: 1px solid rgb(0, 0, 0);"></div>
          <div style="font-family: Arial, Helvetica, sans-serif;padding-top: 15px;">
            <div style="float: right;">
              <table>
                <thead>
                  <tr>
                    <th style="width: 130px;text-align: right;font-weight: 500;">Subtotal</th>
                    <td style="width: 200px;text-align: right;font-weight: bold;padding-right: 10px;">RM <%= totalAmount %></td>
                  </tr>
                  <tr>
                    <th style="width: 300px;text-align: right;font-weight: 500;">Shipping & handling</th>
                    <td style="text-align: right;font-weight: bold;padding-right: 10px;">-</td>
                  </tr>
                  <tr>
                    <th style="width: 130px;text-align: right;font-weight: 500;">VAT</th>
                    <td style="text-align: right;font-weight: bold;padding-right: 10px;">-</td>
                  </tr>
                  <tr>
                    <th style="width: 130px;text-align: right;font-weight: 500;">Total</th>
                    <td style="text-align: right;font-weight: bold;padding-right: 10px;">RM <%= totalAmount %></td>
                  </tr>
                  <tr>
                    <th style="width: 130px;text-align: right;">Amount Paid</th>
                    <td style="text-align: right;font-weight: bold;padding-right: 10px;">RM <%= totalpaid %></td>
                  </tr>
                  <% if (balance < 0) { %>
                  <tr>
                    <th style="width: 130px;text-align: right;">Over Paid</th>
                    <td style="text-align: right;font-weight: bold;padding-right: 10px;">RM <%= Math.abs(balance) %></td>
                  </tr>
                  <% } else { %>
                    <tr>
                      <th style="width: 130px;text-align: right;">Balance Left</th>
                      <td style="text-align: right;font-weight: bold;padding-right: 10px;">RM <%= balance %></td>
                    </tr>
                </thead>
                <% }} %>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-success" onclick="printTable()" style="width: 500px;height: 500px;">Print</button>
        <div style="text-align: center;">
            <a href="/yyinvoice_generate" class="btn btn-danger" style="width: 500px;text-align: center;height: 500px;margin: auto;padding-top: 50%;">Back</a>
        </div>
      </div>
    </main>
    <script>
      function printTable() {
        var content = document.getElementById("printable-content").innerHTML;
        var win = window.open('', '', 'height=1000,width=1000');
        win.document.write('<html><head>');
        win.document.write('<style>table{border-collapse: collapse}</style>');
        win.document.write('</head><body>');
        win.document.write(content);
        win.document.write('</body></html>');
        win.print();
        win.close();
      }
    </script>
</body>
</html>